<!-- SEARCH RESULTS | START -->
<div class="results">
    <h4>Displaying Total <span><%= numOfResults %></span> Results</h4>
    <h4>
        Page
        <span><%= currentPage %></span> of
        <span><%= pages %></span>
    </h4>
</div>
<section class="shop">
    <div class="shop-container">
        <!-- Rendering Products using EJS -->
        <% users.forEach(user => { %>
            <div class="item">

                <div class="item-desc">
                    <h2 class="item-desc__name">
                        <%= user._id %>
                    </h2>
                    <p class="item-desc__text">
                        <%= user.name %>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>
    <div class="shop-pagination">
        <div class="pagination">
            <% if (currentPage == 1 && pages > 1) { %>
                <a href="/<%= parseInt(currentPage) + 1 %>"> <span>
          Page <%=  parseInt(currentPage) + 1 %>
          <i class="icon ion-ios-arrow-forward"></i>
         </span>
                </a>
                <% } else if (currentPage < pages) { %>
                    <a href="/<%= parseInt(currentPage) - 1 %>">
                        <span>
          <i class="icon ion-ios-arrow-back"></i>
          Page <%= parseInt(currentPage) - 1 %>
        </span>
                    </a>
                    <a href="/<%= parseInt(currentPage) + 1 %>">
                        <span>
         Page <%= parseInt(currentPage) + 1 %>
         <i class="icon ion-ios-arrow-forward"></i>
        </span>
                    </a>
                    <% } else if (currentPage == pages && pages > 1) { %>
                        <a href="/<%= parseInt(currentPage) - 1 %>">
                            <span>
        <i class="icon ion-ios-arrow-back"></i>Page 
        <%=parseInt(currentPage) - 1 %>
       </span>
                        </a>
                        <% } %>
        </div>
    </div>
    </div>